:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  padding: auto;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #A6D0DD;
}

.main-section{
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.footer {
  margin-top: 4rem;
  width: 100%;
  height: 2.5rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

h2 {
  font-size: 8em;
  font-family: Merriweather, serif;
  line-height: 1;
  color:#213547;
  margin-top: 0;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: auto;
}

.underline {
  width: 25rem;
  height: 0.25rem;
  background: #32407B;
  margin: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-container{
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.btn-container button:focus,
.btn-container button:hover {
  border: 2px solid #646cff;
}

.category-btn{
  background: #F2D7D9;
  border-color: transparent;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: #151965;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 7px;
}

.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 4rem;
  margin: 0 auto;
}

.place {
  background-color: #d3cedf;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 450px;
  margin: 0 auto;
}

.container {
  position: relative;
}

.images {
  width: 450px;
  height: 350px;
}

.container button {
  position: absolute;
  top: 45%;
  background-color: transparent;
  color: transparent;
  padding: 0.5em;
  border-radius: 50%;
}

.btn-left {
  left: 2%;
}

.btn-right {
  right: 2%;
}

.container button:hover {
  color: white;
  border: none;
  background-color: silver;
}

.place-info {
  padding: 1rem;
}

.name {
  margin: 0 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.info {
  display: flex;
  align-items:first baseline;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
}

.info-type-container {
  width: 120px;
  margin-right: 5px;
}

.info-type-small {
  font-size: 17px;
  font-weight: bold;
}

.info-value-container {
  flex: 1;
  text-align: left;
}

.info-value-large {
  font-size: 18px;
}

.table th {
  padding-left: 0;
}

.table td {
  padding-left: 16px;
}


.aesthetic-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.aesthetic-button:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .food-container {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h3 {
  font-family: Courier;
  font-weight: bold;
  color: #242424;
}

.footer h3 a{
  color: #242424;
  font-weight: bold;
}

.footer h3 a:hover{
  color: rgb(214, 100, 59);
}